/* ******************************* */
/* custom (<= 370px) */
@media all and (min-width: 0px) and (max-width: 370px) {

    #privacy-social-icons {
        float: left;
        margin: 0px 0px 10px;
        width: 100%;
    }

    #privacy-social-icons > #like,
    #privacy-social-icons > .twitter-share-button,
    #privacy-social-icons  .g-plusone,
    #privacy-social-icons  #___plusone_0 {
        width: 70px!important;
        float: none;
        margin-left: auto!important;
        margin-right: auto!important;
        display: block!important;
        margin-bottom: 10px;
    }
}

/* *************** */
/* custom (<= 600px) */
@media all and (min-width: 0px) and (max-width: 600px) {

    footer .col-xs-6 { width: 100%!important; }

    .social-wrapper { max-width: 240px; }

    footer #footer-social .social a.pinterest,
    footer #footer-social .social a.linkedin { margin-right: 0;}
    footer #footer-social .social a:nth-child(-n+4){ margin-bottom: 10px}

    footer #footer-main > .container > .row > .last > ul { padding-bottom: 0; }

    footer .col-xs-6 ul li { display: none; }
    footer .col-xs-6 ul li:nth-of-type(1) { display: block; }
    footer .col-xs-6 ul li h3 { text-align: center; width: 100%; display: block; margin: 0; }

}
/* ******************************* */




/* ******************************* */
/* 0 - 767 */
@media all and (min-width: 0px) and (max-width: 767px) {
    .text-100-mobile { width: 100%; }
}


/* ******************************* */
/* Custom, iPhone Retina           */ 
@media only screen and (min-width : 320px) {
    
}
/* ******************************* */




/* ******************************* */
/* Extra Small Devices, Phones     */ 
@media only screen and (min-width : 480px) {


}
/* ******************************* */




/* ******************************* */
/* Extra Small Devices, Phones     */ 
@media only screen and (min-width : 0px) and (max-width : 560px) {
    .template-item { width: 100%; }
    .template-item > .col-xs-6:nth-child(1){ width: 45%; padding: 0; }
    .template-item > .col-xs-6:nth-child(2){ width: 55%; }

}
/* ******************************* */




@media only screen and (min-width : 0px) and (max-width : 500px) {

    ul.disc-list-sm li {
        width: 100%!important;
        margin-left: 0;
        margin-right: 0;
    }
}







/* ******************************* */
@media (min-width: 0px) and (max-width: 991px) {
    .container-fluid .text-center-xs-sm,
    .container-fluid .text-center-mobile {
        text-align: center;
    }

    body #site-header.open { background-color: #4c3304; }
    body #site-header.open #header-search.open { background-color: #000!important; }
}
/* ******************************* */

@media all and (min-width: 561px) and (max-width: 956px) {
    .bgs { min-height: 336px; }
}









/* ******************************* */
/* arrow for nav dropdown          */
@media only screen and (min-width : 864px) {

    #site-header .main-nav .level2 li:nth-child(1):before {
        
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -10px;
        left: 56px;
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }
}
/* ******************************* */


@media (min-width: 961px) and (max-width: 1100px) {
    body #site-header .main-nav .level1 > li > a {
        font-size: 11px;
        padding: 25px 7px;
    }
}

@media (min-width: 1101px) and (max-width: 1230px) {
    body #site-header .main-nav .level1 > li > a {
        font-size: 12px;
        padding: 25px 8px;
    }
}

@media (min-width: 1231px) {
    body #site-header .main-nav .level1 > li > a {
        font-size: 14px;
        padding: 25px 11px;
    }
}

/* ******************************* */
/* 768 - 991                       */
@media all and (min-width: 768px) and (max-width: 991px) {
    
    .jumbotron .title {
        font-size: 38px;
        line-height: 50px;
    }

    .jumbotron .subtitle {
        font-size: 20px;
        line-height: 28px;
    }

}
/* ******************************* */

@media only screen and (min-width : 960px){
    #site-header .main-nav .level2 li a {
        font-size: 15px;
    }

/*
    html:not(.isMobile) #header-menu .right-nav .nav-icons li a .icon-text,
    #header-menu .right-nav .nav-icons li a
*/

    #header-menu .right-nav .nav-icons .icon-text { font-size: 9px!important; }
    body #site-header .main-nav .level1 li .level2 > li,
    body #site-header .main-nav .level1 li .level3 > li { border: 1px solid #eee; }
}


/* ******************************* */
/* Medium Devices, Desktops        */
@media only screen and (min-width : 992px) {
    
}
/* ******************************* */




/* ******************************* */
/* Large Devices, Wide Screens     */
@media only screen and (min-width : 1200px) {

}
/* ******************************* */








/* ******************************* */
@media all and (min-width: 851px) and (max-width: 991px) {

}
/* ******************************* */

