@font-face {
    font-family: 'icomoon';
    font-size: 50px;
    src:    url('../Fonts/icomoon.eot?enis7n');
    src:    url('../Fonts/icomoon.eot?enis7n#iefix') format('embedded-opentype'),
        url('../Fonts/icomoon.ttf?enis7n') format('truetype'),
        url('../Fonts/icomoon.woff?enis7n') format('woff'),
        url('../Fonts/icomoon.svg?enis7n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i, .icomoon-liga {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ffffff;
    font-size: 20px;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e971";
}
.icon-search:before {
    content: "\e986";
}
.icon-enter:before {
    content: "\ea13";
}

.icon-container {
    display: inline-block;
    position: relative;
    float: right;
    width: 135px;
}

.icon-wrap {
    display:inline-block;
    position: relative;
    float: left;
    text-align: center;
    width: 45px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.icon-wrap > .mls {
    display: block;
    width: 100%;
    position: relative;
    float: left;
    color: #ffffff;
    
    font-family: 'Open Sans', sans-serif !important;
    font-size: 9px;

}

