
/* ********************************* */
/* Medium devices (large devices, 1200px+) */
@media all and (min-width: 1200px) {
    
    p, ul li, .p {
        font-size: 18px;
        line-height: 28px;
    }

    h1 { font-size: 58px; }
    h2 { font-size: 36px; }
    h3 { font-size: 24px; }
    
    h2.title-bold { font-size: 36px; font-weight: 700; } 
    h3.title-bold { font-size: 24px; font-weight: 700; } 

    .condensed {
        font-size: 48px;
        line-height: 60px;
    }

    .title-bold { font-size: 32px; }
    .title-bolder { font-size: 36px; }
    .title-big-bold {  }
    
    h1.alt { font-size: 42px; }
    p.h1-leadin { font-size: 21px; }
    h2.alt { font-size: 24px; }
    /***
    h2.title-big-bold { font-size: 36px; font-weight: 700; }
*/

    
    .error-title { 
        font-size: 45px!important;
        line-height: 52px!important;
    }
    
    .errorsub { font-size: 21px!important; line-height: 34px; }

    .price.reg {
        font-size: 55px;
        line-height: 65px;
    }
    
    .price.large {
        font-size: 70px;
        line-height: 80px;
    }
    
    .book-item p:nth-child(2) { font-size:23px; }
    
    .bg-book-printing { padding-bottom: 500px; }
    .sc-mt-o-10 { margin-top: -15px; }
    .text-center-xs-sm { text-align: left; }
    .text-left-lg { text-align: left; }

    
    .bg-white .bg-abp-s-2 { padding-bottom: 660px; }
    .bg-forest-green .bg-pbp-s-2 { padding-bottom: 900px; }
    .bg-brown .bg-cbp-2 { padding-bottom: 520px; }

    .bg-brown .bg-cb-1 { padding-bottom: 420px; }
    .bg-brown .bg-cb-2 { padding-bottom: 420px; }



    #site-header .main-nav .level1 li a,
    #site-header.open .link-logo,
    #site-header .main-nav .level2 a,
    #site-header .main-nav .level3 a {
        /*
        font-size: 14px;
        padding: 25px 7px!important;
        */
    }

    footer .col-lg-2 { width: 20%; }
    footer .col-lg-2 ul { padding-left: 5px; }

    .col-lg-12.embed-responsive .embed-responsive-item,
    .embed-responsive iframe,
    .embed-responsive embed,
    .embed-responsive object,
    .embed-responsive video { max-height: 660px; }



    .bgs { min-height: 318px; }

    .bg-np-1 ~ .bg-blue-texture { padding-top: 100px; min-height: 425px; }
    .bg-white .bg-np-2 { height: 550px;  }

}
/* ******************************* */