/* ******************************* */
/* Small devices (tablets, 768px+) */
@media all and (min-width: 768px) {
    
    p, ul li, .p {
        font-size: 15px;
        line-height: 25px;
    }

    h1 { font-size: 38px; }
    h2 { font-size: 24px; }
    h3 { font-size: 18px; }  
    
    h2.title-bold { font-size: 24px; font-weight: 700; }
    h3.title-bold { font-size: 18px; font-weight: 700; } 
    
    .condensed {
        font-size: 36px;
        line-height: 48px;
    }

    .title-bold { font-size: 24px; }
    .title-bolder { font-size: 28px; }
    .title-big-bold {  }
    
    h1.alt { font-size: 30px; }
    p.h1-leadin { font-size: 18px; }
    h2.alt { font-size: 18px; }

    .price.reg {
        font-size: 35px;
        line-height: 45px;
    }
    
    .price.large {
        font-size: 45px;
        line-height: 55px;
    }
    
    .large { font-size: 17px; }

    .bg-book-printing { padding-bottom: 400px; }

    
    .visible-xs-error { display: none; }
    .bg-error .jumbotron {
        padding-top: 70px!important;
    }
    
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .error-title {
        font-size: 34px !important;
        line-height: 38px !important;
    }

    .errorsub { font-size: 15px!important; }
    
    .container-fluid .text-center-sm {
        text-align: center;
    }
    .mt-sm-10 { margin-top: 10px; }
    .mmt-40 { margin-top: 40px; }
    .mmb-40 { margin-bottom: 40px; }
    
    .mt-sm-20 { margin-top: 20px; }

    .logos-container .logos-container-header h3 a { font-size: 26px; }

    .list-suboffers .row:nth-child(1) { padding-top: 25px; }
    .list-suboffers .row {
        margin-bottom: 25px;
        padding-bottom: 20px;
    }
    
    .success-subheader { font-size: 16px; }

    div.table-res > table.res { display: table; }
    
    /*.bg-white*/ .bg-abp-s-2 { padding-bottom: 700px; }

    table.art-book-printing tbody tr td:first-child { width: 50%; }

    table.art-book-printing tbody tr td:first-child > span,
    table.vs-createspace tbody tr td:first-child > span,
    table.vs-lulu tbody tr td:first-child > span {
        float: left;
        text-align: left;
    }


    .bg-cbp-1 { padding-bottom: 410px; }
    .bg-cbp-2 { padding-bottom: 410px; }


    .img-mw-50 { max-width: 50%; }

    .col-sm-12.embed-responsive > iframe { padding-left: 20px; padding-right: 20px; }
    
    .bgs { min-height: 290px; }

    .bg-np-1 ~ .bg-blue-texture { padding-top: 100px; min-height: 425px; }
    /*.bg-white*/ .bg-np-2 { height: 500px;  }

    .packagecompare span,
    .packagecompare span ul.disc-list li { font-size: 13px; line-height: 20px; }
    .packagecompare span ul.disc-list {
        margin-left: 5px;
    }


    table.packagecompare tbody tr td:nth-child(4),
    table.packagecompare tbody tr td:nth-child(5),
    table.packagecompare tbody tr td:nth-child(6),
    table.packagecompare thead tr th:nth-child(4),
    table.packagecompare thead tr th:nth-child(5),
    table.packagecompare thead tr th:nth-child(6) {
        width: 25%;
    }

    
    /* max-width-limit */
    .mwl { width: 355px; }

    .xs-pb-120 { padding-bottom: unset; }

    .price-big { font-size: 76px; }
    .fpg-item { min-height: 160px; }

    table.bookshop { font-size: 13px; }

    ul.disc-list-sm li {
        width: 45%;
        margin-left: 3%;
    }




    .bg-img-genre { right: -20%; }
        .r25 { right: -25%; }


    .h-romance { height: 575px; }
    .h-christian { height: 540px; }
    .h-poetry { height: 675px; }
    .h-fantasy { height: 575px; }

}
/* ******************************* */