/* ******************************* */
/* Small devices (tablets, 768px+) */
@media all and (min-width: 768px) {
    
    p, ul li, .p {
        font-size: 15px;
        line-height: 25px;
    }

    h1 { font-size: 38px; }
    h2 { font-size: 24px; }
    h3 { font-size: 18px; }  
    
    h2.title-bold { font-size: 24px; font-weight: 700; }
    h3.title-bold { font-size: 18px; font-weight: 700; } 
    
    .condensed {
        font-size: 36px;
        line-height: 48px;
    }


    .title-bold { font-size: 24px; }
    .title-bolder { font-size: 28px; }
    .title-big-bold {  }
    
    h1.alt { font-size: 30px; }
    p.h1-leadin { font-size: 18px; }
    h2.alt { font-size: 18px; }
    /***
    h2.title-big-bold { font-size: 30px; font-weight: 700; }
*/
    
    
    .price.reg {
        font-size: 35px;
        line-height: 45px;
    }
    
    .price.large {
        font-size: 45px;
        line-height: 55px;
    }
    
    .bg-book-printing { padding-bottom: 400px; }

    
    
    
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    
    
    .container-fluid .text-center-sm {
        text-align: center;
    }
    .mt-sm-10 { margin-top: 10px; }
    .mmt-40 { margin-top: 40px; }
    .mmb-40 { margin-bottom: 40px; }
    
    .mt-sm-20 { margin-top: 20px; }



    #site-header .main-nav .level1 li a,
    #site-header.open .link-logo,
    #site-header .main-nav .level2 a,
    #site-header .main-nav .level3 a {
    }

    /*
    #site-header .main-nav .level1 li a,
    #site-header.open .link-logo {
        font-size:12px
    }
    */

    .logos-container .logos-container-header h3 a { font-size: 26px; }
    
    
    .list-suboffers .row:nth-child(1) { padding-top: 25px; }
    .list-suboffers .row {
        margin-bottom: 25px;
        padding-bottom: 20px;
    }



    div.table-res > table.res { display: table; }

    
    
    .bg-white .bg-abp-s-2 { padding-bottom: 700px; }


    
    table.art-book-printing tbody tr td:first-child { width: 50%; }

    table.art-book-printing tbody tr td:first-child > span,
    table.vs-createspace tbody tr td:first-child > span,
    table.vs-lulu tbody tr td:first-child > span {
        float: left;
        text-align: left;
    }

    .bg-forest-green .bg-pbp-s-2 { padding-bottom: 900px; }
    .bg-brown .bg-cbp-1 { padding-bottom: 410px; }
    .bg-brown .bg-cbp-2 { padding-bottom: 410px; }
    .img-mw-50 { max-width: 50%; }



























}
/* ******************************* */