/* helper classes */
/* ************* */

/*
body .container .valign,
body .container-fluid .valign { height: 450px; line-height: 400px; }
body .container .valign > .valign-inner,
body .container-fluid .valign > .valign-inner { vertical-align: middle; display: inline-block; float: none; }
.row { border: 1px solid blue; }
.b {border: 1px solid green; }
.container { border:1px solid red; }
*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* padding and margin */


.ptb-10 { padding: 10px 0; }
.ptb-20 { padding: 20px 0; }
.ptb-40 { padding: 40px 0 50px; }

/*
.ptb-10 { padding-top: 10px; padding-bottom: 10px; }
.ptb-20 { padding-top: 20px; padding-bottom: 20px; }
.ptb-40 { padding-top: 40px; padding-bottom: 50px; }
*/
.plr-0 { padding-left: 0; padding-right: 0; }
.plr-15 { padding-left: 15px; padding-right: 15px; }
.mlr-15 { margin-left: 15px; margin-right: 15px; }

.mtb-40 { margin-top: 40px; margin-bottom: 40px; }
.mtb-50 { margin-top: 50px; margin-bottom: 50px; }


.mp-0 { margin: 0; padding: 0; }


.p-0 { padding: 0px; }
.p-6 { padding: 6px; }
.p-10 { padding: 10px; }
.p-20 { padding: 20px; }
.p-30 { padding: 30px; }
.p-40 { padding: 40px; }

.pb-0 { padding-bottom: 0px; }
.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }
.pb-60 { padding-bottom: 60px; }
.pb-70 { padding-bottom: 70px; }
.pb-80 { padding-bottom: 80px; }
.pb-90 { padding-bottom: 90px; }
.pb-100 { padding-bottom: 100px; }

.pt-0 { padding-top: 0px; }
.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-60 { padding-top: 60px; }
.pt-70 { padding-top: 70px; }
.pt-80 { padding-top: 80px; }
.pt-90 { padding-top: 90px; }
.pt-100 { padding-top: 100px; }


.m-20 { margin: 20px;}

.mb-0 { margin-bottom: 0px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }
.mb-70 { margin-bottom: 70px; }
.mb-80 { margin-bottom: 80px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 { margin-bottom: 100px; }

.mt-0 { margin-top: 0px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-80 { margin-top: 80px; }
.mt-90 { margin-top: 90px; }
.mt-100 { margin-top: 100px; }




.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

.w-100 { width: 100%; float:left; }



.pre-offset-130 { padding-bottom: 65px; }
.offset-icon-130 { margin-top: -130px; }

.pre-offset-100 { padding-bottom: 100px; }
.offset-icon-100 { margin-top: -100px; padding-bottom: 20px; }
.offset-top-165 { margin-top: -125px; }

.offset-top-guarantee {
    margin-top: -92px;
    width: 100%;
    float: left;
    text-align: center;
    display: block;
}

.section-padding-default { padding: 35px 0; }

/* alignment */
.center-text { text-align:center; }
.valign { 
    height: 450px;
    line-height: 375px;
}
.valign .valign-inner {
    vertical-align: middle;
    display: inline-block;
    float: none!important;
}


#site-header .link-logo { padding-left: 20px; }
#site-header .main-nav .level1 li a.ebooks-nav { text-transform: none; }
/*
.va-c,
.list-image > a {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;
    margin: 0 auto;
    display: block;

// old
    height: 1px;
    line-height: 1px;
    white-space: nowrap; 
    border:1px solid red;  
}

.va-e,
.list-image > a > img,
.list-image > img {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: perspective(1px) translateY(40%);

    max-width: 100%;
    height: auto;
      
    border:1px solid green;
}*/

.aside-sm p.title-sm {
    font-size: 15px;
}
.aside-sm p,
ul.aside-sm li {
    font-size: 14px;
    line-height: 21px;
}



p { margin-bottom: 15px; }
.small-print {
    font-size: 12px;
    font-style: italic;
}



/* links */
a {
    text-decoration: underline;
    cursor: pointer;
    color: #D46B00;
    font-weight: bold;
}

a:hover { color:#F0A04F ; }

#site-header .main-nav .level1 li a,
#site-header.open .link-logo,
#site-header .main-nav .level2 a,
#site-header .main-nav .level3 a {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/*a,*/
a.link-orange {
    /*color: #EC8606;*/
    color: #ca462a!important;
}

/*a:hover,
a:active,*/
a.link-orange:hover {
    color: #ff6346!important;
}

.book-styles {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 30px;
    display: inline-block;
}

p.text-white,
p.text-white > a  { color: #fff; }

p.larger { font-size: 125%; }

.text-shadow { text-shadow: 1px 1px 4px #000; }
.blk-shadow, .text-shadow2 { text-shadow: 2px 2px 7px #000; }


/* headings/titles */
.title-bold { font-weight: 600; }
.title-bolder { font-weight: 700; }
.title-big-bold { font-weight: 600; }
.title-side { font-size: 16px; font-weight: 700; }

.subhead-bi { font-size: 130%; font-weight: 600; font-style: italic; }

h2.intro {
    font: 14px "Open Sans","Arial", sans-serif;
    color: #000;
    margin: 0px 0px 45px 0px;
    display: block;
    font-size: 19px;
    line-height: 1.7em;
}


/*

h3.title-bold,
a.title-bold > h3  {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}
*/


#free-publishing-guides h3,
#templates h3 {
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    margin: 0 0 5px;
}

.template-item { min-height: 200px; }


.template-item .btn-orange { font-size: 12px; }

#free-publishing-guides p,
#free-publishing-guides a {
    font-size: 14px;
    line-height: 22px;
}

a.tdn { text-decoration: none; }

#press-page h2,
#press-page h3 {
    font-family: "Open Sans","Arial", sans-serif; 
    color: #000;
}

#press-page h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
    font-weight: bold;
}
#press-page h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: normal;
    font-style: italic;
}




ol.num-list { list-style: decimal; }
ol.num-list li { margin-bottom: 20px; margin-left: 30px; }

.article-divider {
    border-bottom: 1px solid #CCC;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.article-divider-2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
.article-divider-3 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 5px;
}


.article-divider.mp-0 {
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding: 0;
}

.apb-item { padding-top: 20px; }

    body #header-search, body #site-header.open { background-color: #4c3304; }


/* bg properties */
.bg-img,
.bg-img-half {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-cream { background-color: #E9E5D2; }
.bg-tan { background-color: #EBE4D1; }
.bg-tan-lt { background-color: #F0F0E1; }
.bg-tan-dark { background-color: #DAD5C0; }
.bg-brown { background-color: #8a754f; }
.bg-brown-2 { background-color: #A06E3F; }
.bg-dk-brown { background-color: #4c3304; }
.bg-dark { background-color: #3E3B32; }
.bg-white { background-color: #ffffff; }
.bg-lt-blue { background-color: #ebf5f5; }
.bg-lt-blue-2 { background-color: #D8EBE9; }
.bg-lt-blue-3 { background-color: #D1D9ED; }
.bg-baby-blue-el { background-color: #6FBED8;  padding: 8px; margin-bottom: 20px; max-width: 200px; }
    .bg-baby-blue-el > span { color: #fff; text-align: center; }
.bg-dk-blue { background-color: #212733; }
.bg-dk-blue-2 { background-color: #19375C; }
.bg-dk-blue-3 { background-color: #A6D1CE; }
.bg-lt-grey { background-color: #F8F7F6; }
.bg-md-grey { border-top: 4px #AAA69C solid; background: #dad5c2; padding: 45px 0; }
    .bt-0 { border-top: 0px; }
.bg-green { background-color: #4d5e38; }
.bg-forest-green { background-color: #575748; }

.bg-poetry { background-image: url("../images/poetry-hero.jpg"); }
.bg-poetry-s-1 { background-image: url("../images/poetry-quad1.jpg"); }
.bg-poetry-s-2 { background-image: url("../images/poetry-quad2.jpg"); }
.bg-poetry-2 {background-image: url("../images/poetry-weathered-bkgrd.jpg"); }



.bg-romance { background-image: url("../images/romance-hero.jpg"); }
.bg-romance-s-1 { background-image: url("../images/romance-quad1.jpg"); }
.bg-romance-s-2 { background-image: url("../images/romance-quad2.jpg"); }





.bg-bookshop { background-image: url("../images/pod-101-royaltiesbkgrd.jpg"); }



.bg-dark .bg-home-s-3-1 { background-image: url(../images/home/quadrant-home-editing.jpg); }
.bg-dark .bg-home-s-3-2 { background-image: url(../images/home/quadrant-home-ebook.jpg); }
.bg-dark .bg-home-s-3-3 { background-image: url(../images/home/quadrant-home-print.jpg); }

.bg-cspp-1 { background-image: url(../images/complete-selfpub-quadpod.jpg); }
.bg-cspp-2 { background-image: url(../images/complete-selfpub-quadebook.jpg); }
.bg-cspp-3 { background-image: url(../images/complete-selfpub-quadprint.jpg); }
.bg-cspp-4 { background-image: url(../images/complete-selfpub-design.jpg); }
.bg-hcbp-1 { background-image: url(../images/hardcover-quad1.jpg); }
.bg-hcbp-2 { background-image: url(../images/hardcover-quad2.jpg); }

.bg-book-formatting { background-image: url("../images/formatting-hero.jpg"); }
.bg-wholesale-book-printing { background-image: url("../images/wholesale-hero.jpg"); }
.bg-fantasy { background-image: url("../images/fantasy-hero-img.jpg"); }

.bg-christian { background-image: url("../images/christian-hero.jpg"); }
.bg-christian-1 { background-image: url("../images/christian-people.jpg"); }
.bg-christian-2 { background-image: url("../images/christian-candles.jpg"); }
.bg-christian-mesh { background-image: url("../images/christian-canvas-bkgrd.jpg"); }






.bg-abp-s-2 { background-image: url(../images/artbooks-quad1.jpg); }
.bg-forest-green .bg-pbp-s-2 { background-image: url(../images/photobooks-quad1.jpg); }

.bg-brown .bg-cbp-1 { background-image: url("../images/childrens-books-quad1.jpg"); }
.bg-brown .bg-cbp-2 { background-image: url("../images/childrens-books-quad2.jpg"); }

.bg-fantasy-s-1 { background-image: url("../images/fantasy-quad1.jpg"); }

.bg-cbp-testimonial { background-image: url("../images/childrens-books-bob.jpg"); }
.bg-cb-testimonial { background-image: url("../images/cookbooks-jeanine.jpg"); }

.bg-brown .bg-cb-1 { background-image: url("../images/cookbooks-chef.jpg"); }
.bg-brown .bg-cb-2 { background-image: url("../images/cookbooks-chef-cooking.jpg"); }

.bg-fantasy-lt { background-image: url("../images/fantasy-tree-bkgrd.jpg"); }
.bg-book-editing { background-image: url("../images/book-editing-hero.jpg"); }
.bg-book-editing-2 { background-image: url("../images/book-editing-bottomcallout.jpg"); }
.bg-book-editing-paper { background-image: url("../images/book-editing-paperbkgrd.jpg"); }

.bg-bp2-1 { background-image: url("../images/booklet-printing-quad1.jpg"); }
.bg-bp2-2 { background-image: url("../images/booklet-printing-quad2.jpg"); }



.bg-home-s-6 { background-image: url("../images/home/great-book-background.jpg"); }
.bg-home-hero { background-image: url("../images/home/home-hero.jpg"); }
.bg-ebooks { background-image: url("../images/ebooks-hero.jpg"); }
.bg-ebook-distribution { background-image: url("../images/ebook-distribution-hero.png"); }
.bg-wood-panel { background-image: url("../images/redesign-wood-hero.png"); }
.bg-wood-2 { background-image: url("../images/photobooks-woodbkgrd.jpg"); }
.bg-free-guide { background-image: url("../images/redesign-wood-hero.png"); }
.bg-book-scanning { background-image: url("../images/ebook-scanning-hero.png"); }
.bg-lt-blue-testimonial { background-image: url("../images/quote-bkgrd.jpg"); }
.bg-coupons { background-image: url("../images/coupons-and-deals-hero.jpg"); }
.bg-book-printing { background-image: url("../images/book-printing-hero.jpg"); }
.bg-blue-books { background-image: url("../images/book-printing-premiumbkgrd.jpg"); background-position: 50% }
.bg-guarantee { background-image: url("../images/guarantee-hero.jpg"); border-bottom: solid 2px #A9A59D; padding-bottom:90px; }
.bg-art-book-printing { background-image: url("../images/artbooks-hero-image.jpg"); }
.bg-photo-book-printing { background-image: url("../images/photobooks-hero-image.jpg"); }
.bg-childrens-book-printing { background-image: url("../images/childrens-books-hero.jpg"); }
.bg-how-to-make-a-book { background-image: url("../images/how-to-make-a-book-hero.jpg"); }
.bg-how-to-make-an-ebook { background-image: url("/images/partner-kickstarter-thanks.jpg"); }
.bg-friends-of-bookbaby { background-image: url("../images/partner-hero.jpg"); }
.bg-bookbaby-partnership-opportunities { background-image: url("../images/partner-hero.jpg"); }
.bg-bb-vs-createspace { background-image: url("../images/bookbaby-vs-createspace-hero.jpg"); }
.bg-print-on-demand { background-image: url("../images/pod-hero.jpg"); }
.bg-pod-6 { background-image: url("../images/making-the-most-of-pod-callout.jpg"); }
.bg-pod-7 { background-image: url("../images/pod-101-royaltiesbkgrd.jpg"); }
.bg-pod-10 { background-image: url("../images/pod-infographic-banner.jpg"); }
.bg-book-genre-styles { background-image: url("../images/book-styles-hero-bg.jpg"); }
.bg-how-sell-books-1 { background-image: url("../images/making-the-most-of-pod-writing.jpg");  height: 200px; }
.bg-how-sell-books-2 { background-image: url("../images/making-the-most-of-pod-books.jpg");  height: 200px; }
.bg-cookbooks { background-image: url("../images/cookbooks-hero-image.jpg"); }
.bg-cb-3 { background-image: url("../images/cookbooks-cutting-board.jpg"); }
.bg-affiliate-program { background-image: url('../images/affiliates-mainimage.jpg'); }
.bg-complete-self-publishing-package { background-image: url("../images/complete-selfpub-hero.jpg"); }
.bg-novel-printing { background-image: url("../images/novel-hero.jpg"); }
.bg-blue-texture { background-image:url("../images/novel-bluebkgrd.jpg"); }
.bg-blue-texture-2 { background-image:url("../images/paperback-books-quadblue.jpg"); }
.bg-brown-texture-2 { background-image: url("../images/paperback-books-quadbrown.jpg"); }


.bg-book-distribution { background-image: url("../images/book-distribution-hero.jpg"); }
.bg-error { background-image: url("../images/404-bkgd.jpg"); }
.bg-yearbooks { background-image: url("../images/yearbooks-hero-image2.jpg"); }
.bg-masterwriter { background-image: url("../images/masterwriter.jpg"); }
.bg-twitter-chat { background-image: url(../images/twitter-chat-lifestyle.jpg); min-height: 400px;  }

.bg-np-1 { background-image: url("../images/novel-quad1.jpg"); }
.bg-np-2 { background-image: url("../images/novel-quad2.jpg"); }
.bg-np-3 { background-image: url("../images/novel-quad3.jpg"); }

.bg-yb-1 { background-image: url("../images/yearbooks-quad1.jpg"); }
.bg-yb-2 { background-image: url("../images/yearbooks-quad2.jpg"); }

.bg-book-trim { background-image: url("../images/book-printing-options-hero.jpg"); }
.bg-brown-texture { background-image: url("../images/brown-texture-bg.jpg"); }

.bg-apg-thanks { background-image: url("../images/request-all-guides-thanks.jpg"); min-height: 400px;  }
.bg-paperback { background-image: url("../images/paperback-books-hero.jpg");  }
.bg-hardcover { background: url("/images/hardcover-hero-image.jpg") no-repeat scroll center center / cover; }


.bg-pb-1 { background-image: url("../images/paperback-books-quad1.jpg"); }
.bg-pb-2 { background-image: url("../images/paperback-books-quad2.jpg"); }
.bg-pb-3 { background-image: url("../images/paperback-books-quad3.jpg"); }

.bg-bookpromo { background-image: url("../images/book-promo-hero.jpg"); }

.bg-img-genre {
    background-position: cover;
    background-position: 0 50%;
}

.bg-g-romance { background-image: url("../images/romance-sample-book.png"); }
        



.ty-aside { margin-left: 20px; }



.free-guide-img > img { /*max-height: 400px;*/ display: block; }


.book-item { margin-bottom: 20px; }
.book-item p { margin-bottom: 5px; }

.book-item p.book-item-title-paper-stock { font-weight: 600; font-size: 14px!important; line-height: 18px!important; text-align: left; padding-bottom: 5px!important; }
.book-item p.book-item-title-paper-stock-weight {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    font-style: italic;
    padding-top:15px;
    border-top:1px solid #ccc;
}
.book-item p.book-item-title-paper-stock-details {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.pb-title { font-weight: 700; font-size: 115%; }

/* buttons */
.btn-orange {    
    cursor: pointer;
    font-weight: bold;
    color: #FFF !important;
    background-color: #ff8000;
    border-radius: 4px;
    border: 1px solid #a3511a;
    text-shadow: 0px -1px 0px #a3511a;
    box-shadow: inset 0 1px 0px #FFFFFF;
    box-shadow: inset 0 1px 0px RGBa(256,256,256,0.5);
    background: #ff8000 -webkit-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 -moz-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 -o-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 linear-gradient(to top, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    text-decoration: none;
}

.btn-orange:hover {
    background-color: #FFA041;
    border-color: #a3511a;
}

.btn-center {
    text-align:center;
    margin: 20px auto;
    float: none;
    position: relative;
    display: inline-block;
        display: table;
}


.col-half {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.bg-lt-blue .row .row,
.bg-md-grey .row .row { margin-left: 15px; margin-right: 15px; }

.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 0px; 
    padding-left: 0px; 
    float: left;
    width: 100%;
    margin-bottom: 0;
}


.container .jumbotron,
.container-fluid .jumbotron { border-radius: 0px; }

.jumbotron { text-align: center; }
.jumbotron.light { background-color: transparent; }

.jumbotron.light h1,
.jumbotron.light h2,
.jumbotron.light h3,
.jumbotron.light p,
.jumbotron.light a {
    color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark p {
    color: #fff;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video { max-height: 420px; }

.jumbotron .title,
.jumbotron .subtitle,
.jumbotron .subhead,
#free-guide .title {
    font-family: "Open Sans","Arial", sans-serif;
}

.jumbotron .subhead {
    color: #fff;
    font-size: 23px;
    line-height: 29px;
    display: block;
    width: 100%;
}

.jumbotron .subhead {
    margin: 20px 0;
}

.jumbotron .title,
#free-guide .title {
    font-weight: 700;
    text-shadow: 1px 1px 4px #000;
}

.jumbotron .subtitle {
    font-weight: 600;
    margin-bottom: 15px;
    text-shadow: 1px 1px 4px #000;
}

.jumbotron .title.no-shadow,
.jumbotron .subtitle.no-shadow {
    text-shadow: none;
}



.bg-error .jumbotron {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.error-title {
    color: #333;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: 700;
}

.errorsub { font-weight: 400; }

.no-shadow {
    text-shadow: none!important;
}

.jumbotron .link > a {
    color: #333;
    font-weight: 700;
    text-decoration: underline;
}

.jumbotron .link > a:hover {
    color: #555;
}

.jumbotron .link > a.link-white { color: #fff; text-shadow: 1px 1px 4px #000; }
.jumbotron .link > a.link-white:hover { color: #ff8000; }


/*****/
.container-fluid.bg-lt-blue-2 .jumbotron { float: left; padding: 95px 0 15px; }


.h1-leadin {
    color: #666;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 600;
}

h1.alt {
    margin: 10px auto 20px;
    color: #333;
    font-weight: 700;
}

h2.alt {
    color: #333;
    font-weight: 400;
}



h2.title { font-family: "Open Sans","Arial", sans-serif; }
h2.semibold { font-weight: 600; }

.condensed {
    color: #666;
    font-family: "Open Sans Condensed",Open Sans Condensed,sans-serif;
    font-weight: 300;
/*
    font-size: 50px;
    line-height: 65px;
*/
}




.bitter {
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #555;
    font-weight: 600;
    margin: 0 0 0 10px;
}

.bitter-container {
    background: black;
    float: left;
    margin: -70px 0 0 -20px;
    padding: 10px;
    min-width: 290px; 
}
.black-header-container {
    background: black;
    float: left;
    margin: 0;
    padding: 10px;
    /*min-width: 290px; */
}


.logo-box,
.palette { background:white; border:1px solid #ccc; margin-top:85px; }

.logo-box .bitter-container { min-width: 290px; }

.palette .bitter-container { min-width: 160px; }

.el-logo { padding-top: 20px; padding-bottom: 20px; }

.el-color { 
    min-width: 98px;
    display: block;
    /*
    border:1px solid red;
    float: left;
    margin: 0 0px 20px 0;
    min-width: 85px;
    */

    /*    max-width: 96px;
    float: left;
    position: relative;
    display: inline-block;*/
}

.el-color .example { width: 75px; height: 75px; border: 1px solid black; float: none; margin-left:auto; margin-right: auto; padding: 25px; }

.bg-label { color: #666; width: 100%; float:left; margin-top: 10px; margin-bottom: 10px; line-height: 17px; }

.download-formats {
    text-align: center;
    width: 152px;
    margin: 5px auto;
    display: block;
    position: relative;
}

.download {
    font-size: 11px;
    font-weight: bold;
    margin-right: 16px;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0) URL('../images/brandGuidelines-download.png') no-repeat 0px 2px;
    padding-left: 16px;
    height: 30px;
}





.price.reg {
    font-weight: 600;
}

.price.large {
    font-weight: 600;
}

.success-subheader { font-weight: bold; }


.white { color: #fff!important; }
.black { color: #000!important; }
.orange { color: #EC8606; }
.grey { color: #525260; }
.red { color: #B20000; }

p.subhead { font-weight: 600; font-size: 130%; }


/*
.col-2-blocks .mw-400 { max-width: 400px; }
.col-2-blocks .text-right .mw-400 { float: right; }
.col-2-blocks .text-right { padding: 35px 50px 35px 10px; }
.col-2-blocks .text-left .mw-400 { float: left; }
.col-2-blocks .text-left { padding: 35px 10px 35px 50px; }

.bg-white .mw-400 { max-width: 400px; }
.bg-white .text-right .mw-400 { float: right; text-align: left; }
.bg-white .text-right { padding: 35px 50px 0px 10px; }
.bg-white .text-left .mw-400 { float: left; }
.bg-white .text-left { padding: 35px 10px 0px 50px; }

.bg-dark .mw-400 { max-width: 400px; }
.bg-dark .text-right .mw-400 { float: right; text-align: left; }
.bg-dark .text-right { padding: 35px 50px 35px 10px; }
.bg-dark .text-left .mw-400 { float: left; }
.bg-dark .text-left { padding: 35px 10px 35px 50px; }

.bg-white .bg-img-half.bg-yb-1,
.bg-white .bg-img-half.bg-yb-2 {
    height: 645px;
}

*/

.float-left { float: left; }
.float-right { float: right; }

/*
.jaja { border:1px solid green; position: relative; height: auto; }

.jaja > p,
.jaja h2 {
    border: 1px solid red;
    width: 83.33333333%;
    max-width: 600px;
}
*/


/*
.bg-dark .bg-img-half,
.bg-white .bg-img-half {
    background-color: #3E3B32;
    height: 2425px;
}
*/


.c {  position: relative; }

.c-400 .c { height: 400px; }
.c-500 .c { height: 500px; }
.c-600 .c { height: 600px; }
.c-700 .c { height: 700px; }
.c-800 .c { height: 800px; }
.c-900 .c { height: 900px; }

.c-300 .bg-img-half { height: 300px; }
.c-400 .bg-img-half { height: 400px; }
.c-500 .bg-img-half { height: 500px; }
.c-600 .bg-img-half { height: 600px; }
.c-700 .bg-img-half { height: 700px; }
.c-800 .bg-img-half { height: 800px; }
.c-900 .bg-img-half { height: 900px; }



.ci {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  max-width: none;
  text-align: left; 
 /*left: 5%;  right: 5%;*/
}


.ci.pb-0 { padding-bottom: 0; }
.ci.pt-0 { padding-top: 0; }



.ci.cir { left: unset; right: 0; }
.ci.cir > div { margin-right: 10%; margin-left: 5%; }
.ci.cil { right: unset; left: 0; }
.ci.cil > div { margin-left: 10%; margin-right: 5%; }

/*.va { float: none; display: inline-block; vertical-align: middle; }
.ci-none { position: relative!important; }*/

/* .c-400 { height: 400px; }
.c-500 { height: 500px; }
.c-600 { height: 600px; }
.c-700 { height: 700px; }
.c-800 { height: 800px; }
.c-900 { height: 800px; }

.c-400 .c { height: 200px; }
.c-500 .c { height: 250px; }
.c-600 .c { height: 300px; }
.c-700 .c { height: 350px; }
.c-800 .c { height: 400px; }
.c-900 .c { height: 450px; } */

/*.col2-ci .bg-img-half { height: 200px;} */






.yb-form .input-container {
    position: relative; overflow: hidden; margin-bottom:15px;
}

.yb-form .input-container label { color: #555; display: block; width: 100%; }
.yb-form .input-container input { display: block; width: 100%; border: 1px solid #ccc; padding: 8px; }


.logos-container { background-color: #fff; padding: 0; }
.logos-container .logos-container-header {
    padding: 20px 20px 15px 20px;
    margin: 0 auto;
    background-color: #817E77;
    text-align: center;
}

.logos-container .logos-container-header h3 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}


/*
#contract-text h3 {
    font-family: "Open Sans","Arial", sans-serif;
    line-height: 1.3em;
    font-size: 14px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: bold;
}
*/


.list-suboffers .row { margin-bottom: 25px; padding-bottom: 20px; }
.list-suboffers .row:nth-child(1) { margin-top: 25px; }
.list-image ~ div > a { color: #000; }
.list-image > a > img { margin-top: 25px; }
.list-suboffers .row { border-bottom: 1px solid #CCC; }
.list-suboffers .row.last { border-bottom: none; }


#contract-text p,
#contract-text ul li {
    /*font-size: 14px;
    line-height: 22px;*/
    margin-bottom: 15px;
}

#privacy-social-icons { float: left; margin: 20px 0; width: 100%; }
#privacy-social-icons > #like,
#privacy-social-icons > .twitter-share-button,
#privacy-social-icons .g-plusone,
#privacy-social-icons  #___plusone_0 {
    width: 115px !important;
    float: left;
    display: block;
}




.side-special-offer {
    background-color: #D8EBE9;
    padding:20px;
}

.side-special-offer .abs-top-right {
    position: absolute;
    top: -40px;
    right: 0px;
}




/*****/
.table.col-2 { margin-bottom: 0; }
td.thead { 
    background-color: #3E3B32;
    color: #fff;
}
td.thead > h3 { margin: 10px auto; font-weight: 600; }
table.table.col-2 > tbody > tr > td.col-2-title { width: 35%; }
table.table.col-2 > tbody > tr > td.col-2-copy { width: 65%; }
table.table.col-2 > tbody > tr > td.col-2-title,
table.table.col-2 > tbody > tr > td.col-2-copy { background-color: #e8f4f2; padding: 20px; }
td.col-2-title { border-right: 1px solid #ddd; }
td.col-2-title > span { font-size: 125%; font-weight: bold; }
td.col-2-title > span > span { color: #EC8606; }
td.col-2-copy > span { text-align: left; float: left; }



.z-index-fix {
    z-index: 5;
    position: relative;
}

p.testimonial {
    font-family: 'Bitter',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #555;
    font-style: italic;
    font-weight: 400;
    margin: 15px 0;
}

p.testimonial > span {
    display: block;
    width: 100%;
    margin-top: 20px;
}

p.testimonial-2 {
    font-size: 24px;
    line-height: 32px;
}

p.testimonial-2 > span {
    font-size: 75%;
    display: block;
    width: 100%;
    margin-top: 20px;
}


div.table-res { float: left; width: 100%; min-width: 331px; }
div.table-res-fix {min-width: unset; }

div.table-res-fix ul.disc-list li { font-size: 14px; }
.bold-med { font-weight: 600; }
.normal { font-weight: 100; }
.price-big { line-height: 100%; font-family: 'Bitter'; }

.span-p {
    margin-bottom:20px; display: block;
}



.table thead { background-color: #fff; }

div.table-res .table-header {
    background: #3E3B32 URL('/images/dark-crosshatch.png');
    float: left;
    display: block;
    width: 100%;
    margin: 20px 0 0;
    padding: 1px 0px 8px 0px;
}
div.table-res .table-header.p-10 { padding: 10px; }

div.table-res > table.res {
    float: left;
    display: block;
    width: 100%;
    margin: 0px 0px 20px;
    background-color: unset;
}

table.pod { background-color: #fff; }

table.pod > thead > tr > th {
    font-weight: normal;
    text-align: center;
    border-bottom-width: 1px;
}

/*table.pod thead.lt-blue:first-child th { width: 5%; }
table.pod thead.lt-blue:first-child th:nth-child(1) { width: 30%; }*/


table.mob-fix { background: transparent; }


table.cover-design thead tr th,
table.cover-design tbody tr td { width: 50%; vertical-align: top; }
table.cover-design tbody tr td span { vertical-align: top; }
table.res th,
table.res td,
table.volume-pricing th,
table.volume-pricing td { text-align: center; }

table.art-book-printing thead th { }

table.art-book-printing thead th.bg-t-blue,
table.vs-createspace thead th.bg-t-blue,
table.vs-lulu thead th.bg-t-blue,
table.book-trim-sizes thead th.bg-t-blue,
table.packagecompare thead th.bg-t-blue,
table.bookshop thead th.bg-t-blue,
table.bookshop tbody td.bg-t-blue {
    background-color: #56acbe;
    color: #fff;
    vertical-align: top;
}

table.res tbody tr td {
    background-color: #fff;
}
table.yb-printing tbody tr td.bg-blue {
    background-color: #56acbe;
}

table.yb-printing tbody tr td.bg-dk-grey{
    background-color: #848078;
}

table.yb-printing tbody tr td.bg-lt-grey,
table tbody tr td.bg-lt-grey {
    background-color: #eee;
}

table.art-book-printing tbody tr td.bg-t-lt-blue,
table.vs-createspace tbody tr td.bg-t-lt-blue,
table.vs-lulu tbody tr td.bg-t-lt-blue,
table.pod thead tr th.bg-lt-blue,
table.pod tbody tr td.bg-lt-blue,
table.book-trim-sizes thead tr th.bg-lt-blue,
table.book-trim-sizes tbody tr td.bg-lt-blue,
table.packagecompare tbody tr td.bg-lt-blue,
table.yb-printing tbody tr td.bg-lt-blue,
table.bookshop tbody tr td.bg-lt-blue {
    background-color: #E5F3F5;
}

table.vs-createspace thead tr th:nth-child(1),
table.vs-createspace tbody tr td:nth-child(1),
table.vs-lulu thead tr th:nth-child(1),
table.vs-lulu tbody tr td:nth-child(1) {
    width: 50%;
}


table.vs-createspace thead tr th:nth-child(n+2),
table.vs-createspace tbody tr td:nth-child(n+2),
table.vs-lulu thead tr th:nth-child(n+2),
table.vs-lulu tbody tr td:nth-child(n+2) {
    width: 25%;
}


.packagecompare span,
.packagecompare span ul.disc-list li { text-align: left; }




table.book-editing thead th.bg-t-blue {
    background-color: #56acbe;
    color: #fff;
}


/*
    table.packagecompare tbody tr td:nth-child(1),
    table.packagecompare thead tr th:nth-child(1) {
        width: 15%;
    }
    table.packagecompare tbody tr td:nth-child(2),
    table.packagecompare tbody tr td:nth-child(3),
    table.packagecompare thead tr th:nth-child(2),
    table.packagecompare thead tr th:nth-child(3) {
        width: 10%;
    }
    table.packagecompare tbody tr td:nth-child(4),
    table.packagecompare tbody tr td:nth-child(5),
    table.packagecompare tbody tr td:nth-child(6),
    table.packagecompare thead tr th:nth-child(4),
    table.packagecompare thead tr th:nth-child(5),
    table.packagecompare thead tr th:nth-child(6) {
        width: 25%;
    }
*/

ul.disc-list-sm { 
    list-style: none; 
    padding-left: 5px;
    margin: 0;
}
ul.disc-list-sm li {
    margin: 4px 0;
    display: inline-block;
    vertical-align: top;

    font-size: 12px;
}


.sm-title-container {
    background: black;
    float: left;
    padding: 10px;
    margin-top: 30px;
}

.sm-title-container h2 a { color: #fff; text-decoration: none; }
.sm-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
}


.relative { position: relative; float: left; }
.abs-bot { position: absolute; bottom: 0; right: 0; }
.overflow-hidden { overflow: hidden; }





.grey-title-block {
    background-color: #838179;
    width: 100%;
    text-align: center;
    padding: 5px 3px 10px;
}

.title-thin {
    text-transform: uppercase;
    font-weight: 300;
}

h4.price { margin-top: 3px; }

.price-leadin {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
}




.box-white-border-grey { background-color: #fff; border: 1px solid #ccc; padding: 15px; }
.box-lt-blue-border-grey { background-color: #ebf5f5; border: 1px solid #ccc; padding: 15px; }

.bwbg2 {
    margin-top: 90px;
}

.sidebar-head-publish-on {
    background-color: #333;
    border: 1px solid #CCC;
    border-bottom: none;
    padding: 10px;
    text-align: center;
}


.sidebar-content-publish-on {
    border: 1px solid #CCC;
    background: #fff;
}














.pagination-container.active {
    display: block;
}
.pagination-container {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 40px;
    display: none;
}

.pagination-container span.page-label {
    color: #ccc;
}

.pagination-container a.page.current-page {
    color: #666;
    background-color: #EAF4F8;
    cursor: default;
}
.pagination-container a.page, .pagination-container span.page {
    font-weight: bold;
    color: #ccc;
    border: 1px solid #999;
    margin-left: 5px;
    padding: 8px 14px;
    cursor: pointer;
}

.pagination-container a.page:hover {
    color: #666;
}

.pagination-container a.page { text-decoration:none; display: inline-block; margin-bottom: 10px;}

.results-item {
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    text-decoration: none;
}

.results-item:hover {
    color: initial;
    text-decoration: none;
}

.results-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    margin-bottom: 5px;
}

.body-copy {
    font-size: 15px;
    line-height: 28px !important;
    text-align: left;
    color: #333;
    font-weight: normal;
}

.breadcrumbs {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-left: 15px;
}

.breadcrumbs span.divider::after {
    content: " >";
    color: rgb(102, 102, 102);
}

.breadcrumbs a {
    text-decoration: none;
    color: #666;
}
.breadcrumbs span:not(.divider) {
    content: '';
    color: #666;
}


#search-results-page #search-results-form {
    float: left;
}
#search-results-form {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    float:left;
}


.blue {
    background: #EAF4F8;
}












