/* helper classes */
/* ************* */

/* vertical align*/


/*
body .container .valign,
body .container-fluid .valign { height: 450px; line-height: 400px; }
body .container .valign > .valign-inner,
body .container-fluid .valign > .valign-inner { vertical-align: middle; display: inline-block; float: none; }
*/


.valign { height: 450px; line-height: 400px; }
.valign .valign-inner {
    vertical-align: middle; display: inline-block; float: none;
}


/*
.row { border: 1px solid blue; }
.b {border: 1px solid green; }
.container { border:1px solid red; }

#main-navbar,
.navbar-brand,
.navbar-header,
.alt-nav,
#navigation {
    border: 1px solid red;
}
*/



/* header styles */
/* ************* */

header { background-color: #3e3b32; }

/* /header styles */
/* ************** */


/* ************* */
/* footer styles */
footer { background-color: #3E3B32; }

footer section {
    padding: 40px 0;
}

footer #footer-bottom { margin-bottom:0; padding-bottom:20px; }

/* footer-social */
footer .social-wrapper {
    width: auto;
    position: relative;
    float: none;
    width: 500px;
    margin: 20px auto;
}

footer #footer-social {
    background-color: #2D2C25;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer #footer-social .signup {
    position: relative;
    float: left;
}

footer #footer-social .signup fieldset ul {
    overflow: hidden;
    margin-bottom: 0;
}

footer #footer-social .signup fieldset ul li {
    display: inline;
    vertical-align: top;
}

footer #footer-social .signup fieldset ul li > p {
    background: #ffffff;

    max-width: 400px;
    height: 34px;
    padding: 0;
    margin: 3px;
    
    position: relative;
    float: left;
    width: 99%;
    min-width: 100px;
    overflow: hidden;
    line-height: 25px;
    border: 1px solid #dedede;
    cursor: text;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer #footer-social .signup fieldset ul li > p .btn-submit {
    float: right;
    background: URL('/images/home/sub-button.png') 6px 3px no-repeat;
    height: 33px;
    width: 35px;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;

    cursor: pointer;
    color: #FFF !important;
    padding: 7px 15px;
    background-color: #ff8000;
    border-radius: 4px;
    border: 1px solid #a3511a;
    text-shadow: 0px -1px 0px #a3511a;
    font-weight: bold;
    box-shadow: inset 0 1px 0px #FFFFFF;
    box-shadow: inset 0 1px 0px RGBa(256,256,256,0.5);
    background: #ff8000 -webkit-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 -moz-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 -o-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 linear-gradient(to top, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    cursor: pointer;
    font-size: 14px;
}

footer #footer-social .signup fieldset ul li > p label[for="control_EMAIL"] {
    border: none;
    color: #bbb;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff;
    font-size: 13px;
    width: 350px;
    max-width: 70%;
    line-height: 17px;
    text-align: left;
    cursor: text;
    display: block;
    margin: 0 !important;
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 0;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


footer #footer-social .signup fieldset ul li > p label[for="control_EMAIL"]:focus,
footer #footer-social .signup fieldset ul li > p label[for="control_EMAIL"]:active {
    color: #000000;
}

footer #footer-social .signup fieldset ul li > p .control_EMAIL {
    width: 350px;
    max-width: 70%;
    line-height: 17px;
    text-align: left;
    cursor: text;
    display: block;
    margin: 0 !important;
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 0;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: transparent !important;
    color: #000;
    outline: none;
    text-shadow: 1px 1px 1px #ddd;
    font-weight: bold;
    font-size: 14px;
}

footer #footer-social .social {
    position: relative;
    float: left;
}

.signup-wrapper > fieldset ul {
    padding-left: 0;
    width: 100%;
}

.signup-wrapper > fieldset {
    min-width: 0;
    padding: 2px;
    margin: 0 auto;
    background: #838179;
    width: auto;
    max-width: 410px;
}

footer #footer-social .social a {
    background: url(/images/home/social-sprite.jpg) no-repeat 0 0 #838179;
    float: left;
    height: 45px;
    margin-right: 19px;
    width: 45px;
}

footer #footer-social .social a.facebook { background-position: 0 0; }
footer #footer-social .social a.twitter { background-position: -44px 0; }
footer #footer-social .social a.instagram { background-position: -175px 0; }
footer #footer-social .social a.pinterest { background-position: -263px 0; }
footer #footer-social .social a.youtube { background-position: -86px 0; }
footer #footer-social .social a.gplus { background-position: -131px 0; }
footer #footer-social .social a.wp { background-position: -219px 0; }
footer #footer-social .social a.linkedin { background-position: -308px 0; margin-right: 0; }

/* footer-main (below)*/
footer .col-lg-2 ul {
    padding-bottom: 15px;
    list-style: none;
}

footer .col-lg-2 ul > li {  text-align: left; }
footer .col-lg-2 ul > li a { text-decoration: none; }
footer .col-lg-2 ul > li > a { font-size: 12px; color: #fff; font-weight: 100; text-decoration: none; line-height: 18px }

footer h3.footer-title,
footer h3.footer-title a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

footer #trustpilot {
    background-color: #2d2c25;
    padding-top: 40px;
}

#footer-logo { float: left; }

#footer-logo > span {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    text-decoration: none;
    font-weight: normal;
}

#footer-bottom span { color: #999; font-size: 12px; }
#footer-logo-link { text-decoration: none; }
#footer-bottom #footer-usa { float: right; text-align: right; }

/* /footer styles */
/* ************** */







/* links */
a {
    text-decoration: underline;
    cursor: pointer;
    color: #D46B00;
    font-weight: bold;
}

a:hover { color:#F0A04F ; }

#site-header .main-nav .level1 li a,
#site-header.open .link-logo,
#site-header .main-nav .level2 a,
#site-header .main-nav .level3 a {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

a, a.link-orange {
    color: #ca462a;
}

a:hover, a:active, a.link-orange:hover, a.link-orange:active {
    color: #ff6346;
}

p.text-white,
p.text-white > a  { color: #fff; }



/* headings/titles */
h2.title-bold {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

h3.title-bold {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: 700;
    font-size: 17px;
}


h2.title { font-family: "Open Sans","Arial", sans-serif; }
h2.semibold { font-weight: 600; }
h2.white { color: #fff; }
h2.black { color: #000; }


/* text alignment */
.center-text { text-align:center; }

.valign { height: 450px; line-height: 400px; }
.valign > .valign-inner { vertical-align: middle; display: inline-block; }



/* padding and margin */
.p-20 { padding: 20px; }
.ptb-20 { padding: 20px 0; }
.pb-35 { padding: 0 0 35px; }
.pt-20 { padding-top: 20px; }
.pt-35 { padding-top: 35px; }

.m-20 { margin: 20px;}
.mb-0 { margin-bottom: 0; }
.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }

.pre-offset-130 { padding-bottom: 65px; }
.offset-icon-130 { margin-top: -130px; }
.section-padding-default { padding: 35px 0; }


/* bg properties */
.bg-cream { background-color: #E9E5D2; }
.bg-dark { background-color: #3E3B32; }
.bg-lt-blue { background-color: #ebf5f5; }
.bg-md-grey {
    border-top: 4px #AAA69C solid;
    background: #dad5c2;
    padding: 45px 0;
}
.bg-green { background-color: #4d5e38; }



/* buttons */
.btn-orange {    
    cursor: pointer;
    font-weight: bold;
    color: #FFF !important;
    background-color: #ff8000;
    border-radius: 4px;
    border: 1px solid #a3511a;
    text-shadow: 0px -1px 0px #a3511a;
    box-shadow: inset 0 1px 0px #FFFFFF;
    box-shadow: inset 0 1px 0px RGBa(256,256,256,0.5);
    background: #ff8000 -webkit-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 -moz-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 -o-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    background: #ff8000 linear-gradient(to top, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
    text-decoration: none;
}

.btn-orange:hover {
    background-color: #FFA041;
    border-color: #a3511a;
}

.btn-center {
    text-align:center;
    margin: 20px auto;
    float: none;
    position: relative;
    display: inline-block;
}


.col-half {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.bg-lt-blue .row .row,
.bg-md-grey .row .row { margin-left: 15px; margin-right: 15px; }


.container .jumbotron,
.container-fluid .jumbotron { border-radius: 0px; }

.jumbotron {
    text-align: center;
}

.jumbotron.light {
    background-color: #333;
}

.jumbotron.light h1,
.jumbotron.light h2,
.jumbotron.light h3,
.jumbotron.light p,
.jumbotron.light a {
    color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark p {
    color: #fff;
}

.jumbotron .title,
.jumbotron .subtitle {
    font-family: "Open Sans","Arial", sans-serif;
}

.jumbotron .title {
    font-weight: 700;
    text-shadow: 2px 2px 7px #000;
}

.jumbotron .subtitle {
    font-weight: 600;
    margin-bottom: 15px;
    text-shadow: 2px 2px 6px #000;
}

.jumbotron .link > a {
    color: #333;
    font-weight: 700;
    text-decoration: underline;
}

.jumbotron .link > a:hover {
    color: #555;
}











.bg-dark .mw-400 { max-width: 400px; }
.bg-dark .text-right .mw-400 { float: right; }
.bg-dark .text-right { padding: 35px 50px 35px 10px; }
.bg-dark .text-left .mw-400 { float: left; }
.bg-dark .text-left { padding: 35px 10px 35px 50px; }

.bg-dark .bg-img-half {
    background-color: #3E3B32;
    height: 425px;
}



.bg-img,
.bg-img-half {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.bg-home-hero { background-image: url("/Images/home/home-hero.jpg"); }
.bg-dark .bg-home-s-3-1 { background-image: url(../Images/home/quadrant-home-editing.jpg); }
.bg-dark .bg-home-s-3-2 { background-image: url(../Images/home/quadrant-home-ebook.jpg); }
.bg-dark .bg-home-s-3-3 { background-image: url(../Images/home/quadrant-home-print.jpg); }
.bg-home-s-6 { background-image: url("../images/home/great-book-background.jpg");
    min-height: 300px;
    height: auto;
}



.logos-container { background-color: #fff; padding: 0; }
.logos-container .logos-container-header {
    padding: 20px 20px 15px 20px;
    margin: 0 auto;
    background-color: #817E77;
    text-align: center;
}

.logos-container .logos-container-header h3 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}