/* ******************************* */
/* Phones (phones, <=768px) */
@media all and (min-width: 0px) and (max-width: 767px) {
    
    p, ul li, .p {
        font-size: 15px;
        line-height: 25px;
    }

    h1 { font-size: 26px; }
    h2 { font-size: 24px; }
    h3 {  }
    
    h3.title-bold { font-size: 18px; font-weight: 700; } 

    .title-bold { font-size: 20px; }
    .title-bolder { font-size: 24px; }
    .title-big-bold {  }
    
        
    h1.alt { font-size: 30px; }
    p.h1-leadin { font-size: 18px; }
    h2.alt { font-size: 18px; }
    /***
    h2.title-big-bold { font-size: 30px; font-weight: 700; }
*/




    .bg-book-printing { padding-bottom: 200px; }
    
    
    .ptb-xs-20 { padding: 20px; }

    .pb-m-20 { padding-bottom: 20px; }
    .mmt-20 { margin-top: 20px; }
    .mmb-40 { margin-bottom: 40px; }

    .mw-400 > p { margin-bottom: 20px; }

    

    footer .col-lg-2 ul { padding-left: 0; }

    




    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .jumbotron .title {
        font-size: 25px;
        line-height: 34px;
    }

    .jumbotron .subtitle,
    .jumbotron .subhead {
        font-size: 16px;
        line-height: 24px;
    }


    .bg-dark .col-xs-12,
    .bg-dark .col-sm-12 {
        padding: 25px 15px;
    }

    .bg-dark .text-right,
    .bg-dark .text-left { text-align: center; }

    .bg-dark .text-right .mw-400,
    .bg-dark .text-left .mw-400 {
        float: none;
        max-width: unset;
    }
    
    .bg-dark .bg-img-half {
        height: 300px;
    }



    

    .text-center-xs-sm { text-align: center; }
    .container-fluid .text-center-mobile { padding: 0 15px; text-align: center; }
    .container-fluid .p20 { padding: 20px; }
    .nm-mobile { margin: 0; }


    .col-xs-12.col-half {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 25px;
    }

    #footer-bottom #footer-usa { text-align: center; }



    .list-suboffers .row:nth-child(1) { padding-top: 25px; }
    .list-suboffers .row {
        margin-bottom: 25px;
        padding-bottom: 20px;
    }

    .col-xs-mt-20 { margin-top: 20px !important; }
    .plr-0 { padding-left: 0; padding-right: 0; }




    /****/


    table.table.col-2 > tbody > tr > td.col-2-title,
    table.table.col-2 > tbody > tr > td.col-2-copy {
        display: table-cell;
        float: left;
    }
    table.table.col-2 > tbody > tr > td.col-2-title { width: 100%; }
    td.col-2-title { border-right: 0px; }
    table.table.col-2 > tbody > tr > td.col-2-copy { width: 100%; background-color: #fff; }
    td.col-2-copy > span { text-align: center; float: none; }








}
/* ******************************* */