/* ********************************* */
/* Medium devices (desktops, 992px+) */
@media all and (min-width: 992px) {
    
    p, ul li, .p {
        font-size: 16px;
        line-height: 26px;
    }

    h1 { font-size: 48px; }
    h2 { font-size: 29px; }
    h3 { font-size: 24px; }
    
    h2.title-bold { font-size: 29px; font-weight: 700; } 
    h3.title-bold { font-size: 24px; font-weight: 700; } 
    
    .condensed {
        font-size: 40px;
        line-height: 52px;
    }

    .title-bold { font-size: 28px; }
    .title-bolder { font-size: 32px; }
    .title-big-bold {  }
    
    h1.alt { font-size: 36px; }
    p.h1-leadin { font-size: 20px; }
    h2.alt { font-size: 20px; }
    /***
    h2.title-big-bold { font-size: 36px; font-weight: 700; }
*/


    
    
    .price.reg {
        font-size: 45px;
        line-height: 55px;
    }
    
    .price.large {
        font-size: 55px;
        line-height: 65px;
    }
    
    .bg-book-printing { padding-bottom: 400px; }
    
    .bg-white .bg-abp-s-2 { padding-bottom: 620px; }
    .bg-forest-green .bg-pbp-s-2 { padding-bottom: 810px; }
    
    .sc-mt-o-10 { margin-top: -10px; }
    .text-center-xs-sm { text-align: left; }
    .text-left-md { text-align: left; } 
    .container-fluid .text-center-xs,
    .container-fluid .text-center-sm {
        text-align: left;
    }



    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .jumbotron .title {
        font-size: 58px;
        line-height: 70px;
    }

    .jumbotron .subtitle {
        font-size: 30px;
        line-height: 38px;
    }


    
    #site-header .main-nav .level1 li a,
    #site-header.open .link-logo,
    #site-header .main-nav .level2 a,
    #site-header .main-nav .level3 a {
    }

    footer .social-wrapper { margin: 0px auto; }

    footer .col-md-2 { width: 20%; }
    footer .col-md-2 ul { padding-left: 5px; }



    .list-suboffers .row:nth-child(1) { padding-top: 45px; }
    .list-suboffers .row {
        margin-bottom: 55px;
        padding-bottom: 45px;
    }

    
    .mt-xs-20,
    .mt-sm-20 { margin-top: 0px; }
}
/* ******************************* */